{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div>
    <ul>
        {% for i in object_list %}
        <li class="post">
            <p> <a href="/posts/{{ i.pk }}/">{{ i.title }}</a></p>
            <p>{{ i.description }}</p>
            <img class="post-image" src="{{ i.image.url }}" alt="">
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>